body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
    color: black;
    padding: 15px;
    text-align: center;
}

img {
    max-width: 100%;
}

main {
    padding: 20px;
}
ul.pagination a.page-link:active {
  border-color: #f00;
}
button{
    color: blue;
}


#github-repositories {
    margin-top: 20px;
}

.repository {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

.loader {
    display: inline-block;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
